@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Poppins-Black";
    src: url(/fonts/Poppins-Black.woff) format("woff"),
    url(/fonts/Poppins-Black.woff2) format("woff2");
  
    font-display: swap;
  }
  
  @font-face {
    font-family: "Poppins-Regular";
    src: url(/fonts/Poppins-Regular.woff) format("woff"),
    url(/fonts/Poppins-Regular.woff2) format("woff2");
  
    font-display: swap;
  }
  
  @font-face {
    font-family: "Poppins-Bold";
    src: url(/fonts/Poppins-Bold.woff) format("woff"),
    url(/fonts/Poppins-Bold.woff2) format("woff2");
  
    font-display: swap;
  }
  
  @font-face {
    font-family: "Poppins-Medium";
    src: url(/fonts/Poppins-Medium.woff) format("woff"),
    url(/fonts/Poppins-Medium.woff2) format("woff2");
  
    font-display: swap;
  }

  :root{
    --primary: 26 26 26;
    --secondary: 242 242 242;
    --accent: 226 44 47;
    --content: 255 255 255;
    --header: 21 32 53;
    --line: 48 54 61;
    --alert: 220 38 38;
    --disable: 127 127 127;
    --info: 68 130 208;
    --warning: 177 130 47;
  }
  
  .dark{
    --primary: 0 0 0;
    --secondary: 22 22 22;
    --accent: 80 221 144;
    --content: 255 255 255;
    --header: 255 255 255;
    --line: 14 14 14;
    --alert: 220 38 38;
    --disable: 127 127 127;
    --info: 68 130 208;
    --warning: 177 130 47;
  }

  @layer base {
    html {
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  
      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
  
      ::-webkit-scrollbar {
        width: 10px;
      }
  
      ::-webkit-scrollbar-track {
        border-radius: 10px;
      }
  
      ::-webkit-scrollbar-thumb {
        background: rgba(54, 54, 54, 0.5);
        border-radius: 10px;
      }
  
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(5, 103, 201);
        transition: all;
      }
  
      scroll-behavior: smooth;
    }
  
    body {
      @apply bg-primary text-content font-regular;
    }
    a {
      @apply text-content no-underline;
    }
  
    ul {
      @apply text-content;
    }
  
    img {
      @apply block w-full h-auto bg-cover;
    }
  
    h1,
    h2,
    h3 {
      @apply font-bold;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-content;
    }
    h1 {
      @apply text-3xl mb-4;
    }
    h2 {
      @apply text-xl mb-4;
    }
    h3 {
      @apply text-lg mb-4;
    }
    h4 {
      @apply text-base mb-4;
    }
    p {
      @apply mb-2 text-content !leading-6 opacity-90;
    }
  
    /* article h1,
    h2,
    h3 {
      @apply font-medium text-black;
    }
  
    article h1,
    article h2,
    article h3,
    article h4,
    article h5,
    article h6,
    article img,
    article p {
      @apply my-5;
    } */
  }
  
  @layer components {
    .btn--ui {
      @apply px-10 py-2 transition-all;
    }
  
    .btn--border {
      @apply !px-4 !py-2 transition-all hover:bg-[#313131];
    }
  
    .btn--noBorderIcon {
      @apply translate-x-0 text-cGreen flex items-center gap-4;
    }
  
    .btn--noBorderIcon:hover {
      @apply translate-x-1 transition-all;
    }
  
    .btn--transparent {
      @apply border rounded-md border-cGreen text-cGreen;
    }
  
    .btn--transparent:hover {
      @apply bg-cGreen text-white ease-in-out transition-colors;
    }
  
    .btn {
      @apply px-2 py-1 rounded-md text-sm transition-colors flex items-center gap-2;
    }
  
    .btn:disabled {
      @apply cursor-not-allowed opacity-60;
    }
  
    .btn--accent {
      @apply bg-accent text-white;
    }
  
    .btn--cancel {
      @apply  bg-disable text-white;
    }
  
    .btn--warning {
      @apply bg-warning text-white;
    }
  
    .btn--info {
      @apply bg-info text-white;
    }
  
    .btn--alert {
      @apply bg-alert text-white;
    }
  
    .btn--form {
      @apply p-1.5 w-1/2 flex justify-center items-center gap-2;
    }
  
    table{
      @apply
      w-full
      text-sm
    }
    
    table th{
      @apply
      font-bold
      py-4
      px-2
      text-left
    }
  
    table td{
      @apply
      p-2
      text-left
    }
  
    table tbody tr:nth-child(odd){
      @apply
      bg-secondary
      bg-opacity-20
    }
  
    .table-action ul{
      @apply
      flex
      gap-4
    }
  
    .form-action{
      @apply
      flex
      gap-4
      justify-end
    }
  
    .tooltip{
      @apply
      text-base
      relative
    }
  
    .tooltip:hover::after{
      @apply
      scale-100
    }
  
    .tooltip::after{
      @apply
      absolute
      content-[attr(data-tooltip)]
      text-xs
      p-0.5
      px-1.5
      text-content
      bg-primary 
      bg-opacity-90
      top-[calc(100%+10px)]
      left-1/2
      -translate-x-1/2
      scale-0
      transition-transform
    }

    article img 
    {
      @apply w-full h-[400px] object-cover rounded-xl mb-5
    }

    article ul 
    {
      @apply list-disc list-inside
    }
    article ul 
    {
      @apply list-disc list-inside space-y-2
    }
  }

  .container
  {
    @apply max-w-[950px] w-full mx-auto px-2
  }
  
  @layer components {


    nav
    {
      @apply h-auto max-h-0 transition-all overflow-hidden duration-500
    }
    nav.show{
      @apply max-h-[400px]
    }

    .nav{
      @apply
      space-y-4 
      mt-20
    }
  
    .nav-link{
      @apply
      p-2
      pl-8
    }
  
    .nav-link a{
      @apply
      flex gap-3
      items-center
    }
  
    .nav-link.active{
      @apply
      border-l
      border-accent
    }
  
    .nav-link.active a{
      @apply
      text-accent
    }
  
    .tab-link{
      @apply
      px-3
      py-5
    }
  
    .tab-link.active{
      @apply
      border-b border-accent
    }
  
    .tab-link.active a{
      @apply
      text-accent
    }
  
    /* btn New */
    .btn{
      @apply
      px-2
      py-1
      rounded-md
      text-sm
      transition-colors
      flex
      items-center
      gap-2
    }
    .btn:disabled{
      @apply
      cursor-not-allowed
      opacity-60
    }
  
    .btn-form{
      @apply
      p-2 w-1/2 flex justify-center items-center gap-2
    }
  
    .btn--accent{
      @apply
      bg-accent
      text-white
    }
  
    .btn--cancel{
      @apply
      bg-disable
      text-stone-800
    }
  
    .btn--alert{
      @apply
      bg-alert
      text-white
    }
  
    .btn--info{
      @apply
      bg-info
      text-white
    }
  
    .btn--warning{
      @apply
      bg-warning
      text-white
    }
  
  
    /* Modal add new student *Modal */
    .input-wrap{
      @apply mb-3 relative
    }
  
    .input-wrap label{
      @apply
      mb-1
      block
      text-black
    }
  
    .input-wrap input, 
    .input-wrap select, 
    .input-wrap textarea {
      @apply
      block
      w-full
      text-stone-800
      focus:text-info
      p-1.5
      rounded-md
      outline-none
      border-2
      focus:border-info
      focus:bg-info/5
    } 
  
    .input-wrap small{
      @apply
      absolute
      top-1
      right-1
      text-red-600
      italic
    }
  
    /* SOmething loader */
    .loading-bar::after {
      @apply content-[''] absolute top-0 left-0 w-[180%] h-full  bg-gradient-to-r from-transparent via-black/40 to-transparent  animate-loading;
    }
  
  }
  
  /* scrollbar of overflow */
  ::-webkit-scrollbar {
    width: 5px;
    }
    
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(16, 16, 16); 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background:rgba(54, 54, 54, 0.864); 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background:rgb(5, 103, 201); 
    }
  
    /* remopve of arrows in age number input */
    /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  /* SPINNER */
  .spinner circle {
    fill: none;
    /* stroke: var(--light); */
    stroke-width: 6;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1s ease-in-out infinite;
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
    }
  
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
  
    100% {
      stroke-dashoffset: -110px;
    }
  }
  
  
  .table-shimmer {
    @apply h-2.5 bg-gray-200 rounded-full dark:bg-accent w-full;
  }
  
  .parent li {
    @apply text-sm py-2;
  }
  
  .parent a {
    @apply flex opacity-50 hover:opacity-100 transition-opacity;
  }
  
  .parent {
    @apply pb-3;
  }
  
  .nav-container {
    @apply before:mt-[70px] before:absolute before:left-0 before:h-16 before:w-full before:content-[""] before:z-50 before:bg-[linear-gradient(to_top,#ffffff00,#1a1a1a)] before:pointer-events-none
    
    after:absolute after:bottom-0 after:h-16 after:w-full after:content-[""] after:z-50 after:bg-[linear-gradient(to_bottom,#ffffff00,#1a1a1a)] after:pointer-events-none;
  }
  .progress-bar {
    @apply fixed top-[70px] left-[240px] right-0 h-[10px] w-[calc(100%-240px)] bg-accent origin-left scale-0
  }

  .content p
{
  @apply text-[16px] 
}
.content table th 
{
  @apply p-6 text-center
}
.content tr td
{
  @apply p-4
}
.content tr
{
  @apply text-[14px] leading-6
}
.pictures img
{
  @apply rounded-sm
}
.pictures h3
{
  @apply text-center pt-4
}

.selector {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.content.code ol {
  @apply list-decimal list-inside 
}
.content.code ol li {
  @apply mb-1
}
.code
{
  @apply relative 
}
.code .copy-icon
{
  @apply absolute top-[1rem] right-[1rem] z-[5]
}
blockquote {
  @apply py-[10px] px-[20px] my-[20px] mx-[0] border-solid border-l-[5px] border-[#ededed] bg-slate-900
}